@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ;
    }

* {
    box-sizing: inherit;
}

main {
    padding: 16px;
    margin-bottom: 20px;
}

body {
    background-color: rgba(245, 245, 245, 0.8);
    margin: 0px;
    padding: 0px;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: darkgrey;
    border-top: 1px solid black;
    padding: 32px;
    width: 100%

}

footer p {
    color: lightblue;
}

img {
    height: 200px;

}

nav {
    background-color: lightblue;
    border-bottom: 1px solid black;
    padding: 16px;
}

nav a {
    font-weight: bold;
    color: white;
}


a:hover {
    color: purple ;
}

a {
    color: green;
    text-decoration-line: none ;
}

tr td {
    padding: 0px 20px 0px 20px;
}

#recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.recipes {
    display: grid;
    justify-items: center;
}

img + div {
    padding: 10px;
}

h1#title {
    color: green;
}